alabaster==0.7.12
alembic==1.7.7
altgraph==0.17.2
aniso8601==9.0.1
appdirs==1.4.4
arrow==1.2.1
asgiref==3.4.1
astroid==2.8.6
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.1
binaryornot==0.4.4
black==21.11b1
Cerberus==1.3.4
certifi==2021.10.8
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
ConfigUpdater==3.0.1
cookiecutter==1.7.3
coverage==6.1.1
cycler==0.11.0
distlib==0.3.3
Django==3.2.9
docutils==0.17.1
filelock==3.3.2
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
fonttools==4.28.3
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
identify==2.3.5
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.1
Jinja2==3.0.3
jinja2-time==0.2.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
Mako==1.2.0
MarkupSafe==2.0.1
matplotlib==3.5.0
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
numpy==1.21.3
packaging==21.2
pandas==1.3.4
passlib==1.7.4
pathspec==0.9.0
peewee==3.14.10
pefile==2021.9.3
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
poyo==0.5.0
pre-commit==2.15.0
psycopg2-binary==2.9.3
py==1.10.0
pygame==2.0.3
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pylint==2.11.1
pymongo==4.0.1
pyparsing==2.4.7
PyScaffold==4.1.1
pyscaffoldext-cookiecutter==0.1
pyscaffoldext-custom-extension==0.6.3
pyscaffoldext-django==0.1.1
pyscaffoldext-dsproject==0.6.1
pyscaffoldext-markdown==0.4.1
pyscaffoldext-travis==0.3
PySnooper==1.1.0
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==6.0
recommonmark==0.7.1
regex==2021.11.10
requests==2.26.0
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.32
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
tomli==1.2.2
tomlkit==0.7.2
typing_extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.3
wrapt==1.13.3
