body{
    background-color: #ededed;
}

/* Background color, shadow, width */
.topnav {
    background-color:#F58F7C;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 #656567;
    width: 100%;
  }
  
  /* Style the link's font color, type, padding, etc.*/
  .topnav a {
    float: left;
    color: #2c2b30;
    text-align: center;
    padding: 14px;
    text-decoration:none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  /* Hover color */
  .topnav a:hover {
    background-color: #fbeded;
    color: #2c2b30;
  }
  

  
    